/* typekit:
 *  Museo: 579
 *  Fertigo: 586
 *  FF Dax Compact: 457
 *  FF Masala: 460
 *  Larabiefont (mono): 131
 *  Moby Monospaced: 274
 */
/*@import url('http://typekit.com/css/families/a/default/all/579.css');*/
/*@import url('http://typekit.com/css/families/a/default/all/457.css');*/
/*@import url('http://fonts.googleapis.com/css?family=Droid+Sans+Mono');*/

/* monospace */
@import url('http://fonts.googleapis.com/css?family=Inconsolata');
/* serif */
@import url('http://fonts.googleapis.com/css?family=Crimson+Text');
/* sans-serif */
@import url('http://fonts.googleapis.com/css?family=Molengo');
@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

$font: 'Crimson Text', Gentium, 'Liberation Serif', serif;
$font_mono: Inconsolata, Consolas, monospace;
$font_text: serif;
$font_header: 'Yanone Kaffeesatz', sans-serif; /*font-family-457-1, font-family-457-2, Aller Display;*/
$font_navigation: 'Yanone Kaffeesatz', sans-serif;
$font_help: 'Molengo', sans-serif;

// colors
$view_background: #222 url('bg3.png') repeat; /* www.tartanmaker.com www.stripegenerator.com http://squidfingers.com/patterns/ */
$list_background: #222 url('bg2.png');
$fg: white;
$bg: black;
$view_fg: black;
$view_bg: white;

$widget_fg: white;
$widget_bg: rgba(0,0,0,0.5);
// hover
$widget_hover_bg: rgba(100,160,200,0.6);
$widget_hover_fg: white;
// selected
$widget_selected_bg: rgba(0,100,200,0.6);
$widget_selected_fg: black;

$factor: 0.75;

$alias_selected_fg: $fg;
$alias_fg: $alias_selected_fg*$factor;

$extension_selected_fg: #fd0;
$extension_fg: $extension_selected_fg*$factor;

$directory_selected_fg: $fg*0.9+blue;
$directory_fg: $fg*$factor;

$filename_selected_fg: $fg;
$filename_fg: $filename_selected_fg*$factor;

$id_fg: black;
$id_bg: gray;
$id_selected_fg: black;
$id_selected_bg: white;

$thumbnail_selected_fg: black;
$thumbnail_fg: $thumbnail_selected_fg*$factor;
$thumbnail_selected_bg: white;
$thumbnail_bg: $thumbnail_selected_bg*$factor;
// }}}

/* helper functions {{{ */
@mixin rounded($radius: 10px, $side1: 0, $side2: 0) {
    @if $side1 == 0 {
        border-radius: $radius;
        -moz-border-radius: $radius;
        -webkit-border-radius: $radius;
    } @else if $side2 == 0 {
        border-#{$side1}-radius: $radius;
        -moz-border-radius-#{$side1}: $radius;
        -webkit-border-radius-#{$side1}: $radius;
    } @else {
        border-#{$side1}-#{$side2}-radius: $radius;
        -moz-border-radius-#{$side1}#{$side2}: $radius;
        -webkit-border-radius-#{$side1}#{$side2}: $radius;
    }
}

@mixin transitions($transition) {
    transition: unquote($transition);
    -webkit-transition: unquote($transition);
    -moz-transition: unquote($transition);
}

@mixin transitionsx($transition) {
    transition: unquote($transition);
    -webkit-transition: -webkit-#{unquote($transition)};
    -moz-transition: -moz-#{unquote($transition)};
}

@mixin box-shadow($shadow) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -o-box-shadow: $shadow;
}
// }}}

body {
    margin: 0;
    background: $view_background;
    font-family: $font;
    overflow: hidden; /* no scrollbars */
}

input, .tabs, .button, .close {outline: 0}
a {font-weight: inherit; color: inherit; font-size: inherit; font-family: inherit;}

// widgets// {{{
.label {
    color: #ddd;
    display: inline;
    font-size: 0.8em;
    margin-right: 1em;
}
.focused .label {color: white}
.buttonbox {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
	background-color: rgba(160,160,160,0.1);
}
.button {
    cursor: pointer;

	display: inline;

    font-size: 0.8em;
	text-align: center;

	margin-right: 1em;
	padding-left: 1em;
	padding-right: 1em;

	background-color: #666;
    text-shadow: black 1px 1px 2px;
	border: 3px solid #333;
	border-top: 3px solid #aaa;
	border-left: 3px solid #aaa;
    @include rounded(2px);
}
.button:hover,
.button:focus {
    background-color: #888;
    text-shadow: #222 3px 3px 2px;
	border: 3px solid #aaa;
	border-top: 3px solid #333;
	border-left: 3px solid #333;
}
.buttonbox .button.first {
    @include rounded(1em, top, left);
    @include rounded(1em, bottom, left);
}
.buttonbox .button.last {
    @include rounded(1em, top, right);
    @include rounded(1em, bottom, right);
}
.textedit, .lineedit {
    font-family: $font_mono;
    font-size: 11pt;
}
.lineedit {
    min-width:6ex;
    max-width:80ex;
}
.textedit {
    display:block;
    min-width:40ex;
    max-width:80ex;
    min-height:2em;
    max-height:20em;
}
.tabs:focus .tab.current {
    color: white;
    background-color: $widget_selected_bg;
}
.tabs .label {
    font-size: 12pt;
    color: gray;
}
.tab {
    display: inline;
    padding: 0.3em;
    margin: 0.2em;

    border: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
.tab.current {
    color: white;

    border-bottom: 2px solid white;
    background-color:rgba(255,255,255,0.2);

    @include rounded(0.6em, top, left);
    @include rounded(0.6em, top, right);

    color: white;
}
.widgetlist {
    margin:auto;
    padding: 1em;
}
.widgetlist tr {
    text-align: left;
}
.widgetlist tr:nth-child(even) {
    background-color:rgba(255,255,255,0.1);
}
.window.focused {display: block;}
.window {
	color: white;
    font-family: $font_help;
	font-size: 14pt;

	display: none;
	z-index: 3; /* on top */

	position: absolute;
	top: 0;
	left: 0;
    width: 80%;
	margin: 10%;
	margin-top: 2%;

	background: rgba(0,0,0,0.7);
    @include rounded(20px);

    text-align: center;
}
// }}}

/* title page {{{*/
#title_page {
	font-size: 48px;
	text-align: center;
	margin: auto;
	margin-top: 2em;
	color: $fg;
}
#title_page .date {
	font-size: 0.5em;
}
#title_page .stat {
	display: inline;
    font-style: italic;
	margin: 1em;
	font-size: 0.4em;
}
.stat.images_total:before {content: "images: ";}
.stat.fonts_total:before {content: "fonts: ";}
.stat.videos_total:before {content: "videos: ";}
.stat.html_total:before {content: "html: ";}
.stat.pages_total:before {content: "pages: ";}
.stat.items_total:before {content: "total: ";}
/*}}}*/

/* viewer {{{*/
/* viewer visible only in Viewer mode */
#canvas {display: none;}
.modeViewer #canvas, .modeSlideshow #canvas {display: block;}

.imageview {margin: auto;}
.videoview {margin: auto;}
.fontview, .htmlview {
    display: block;
	z-index: 1;
	margin: auto;

    width: 60%;
    height: 100%;

	color: $view_fg;
	padding: 1em;
	border-width: 0;
	background-color: $view_bg;
	overflow: hidden;
    @include rounded(0.5em);

    /* default test font size*/
    font-size: 16pt;
}
/*}}}*/

/* preview {{{*/
.preview {
    /* preview is hidden by default */
    opacity: 0;

    /* preview position */
    position: fixed;
    bottom: 30px;
    right: 30px;

    @include transitions("opacity .5s ease-in-out");
}
/* show preview when needed */
.modeViewer .preview.focused,
.modeSlideshow .preview.focused,
.modeViewer .preview:hover,
.modeSlideshow .preview:hover {opacity: 1;}

/* preview viewed area */
.preview .window {
    border: 2px dashed red;
    background-color: rgba(255,255,255,0.2);

    padding-left: 4px;
    padding-bottom: 5px;

    @include box-shadow(0 0 15px rgba(0,0,0,0.8));
}

.preview img {
    margin: 2px;

    border: 2px solid black;
    @include box-shadow(0 0 20px rgba(0,0,0,0.6));
}
/*}}}*/

/* info {{{*/
#info {
    opacity: 0;
    z-index: 2;

    position: fixed;
    top: 1em;
    left: 1em;

    text-shadow: black 1px 1px 1px;

    color: $widget_fg;
    background-color: $widget_bg;
    //border: 2px solid rgba(0,0,0,0.5);
    padding-right: 1.5em;

    @include box-shadow(0 0 20px rgba(0,0,0,0.5));
    @include rounded(50px);
    @include transitionsx("box-shadow 1.5s ease-in-out, opacity 0.5s ease-in-out, background-color 1.5s ease-in-out");
}
.modeViewer #info:hover, .modeSlideshow #info:hover, .modeViewer #info.focused {
    opacity: 1;
}
.modeViewer #info:hover, .modeSlideshow #info:hover {
    background-color: $widget_hover_bg;
    @include box-shadow(0 0 20px #7bf);
}

/* progress circle */
.progress {float: left; margin: 10px;}

/* current item and number of items */
.counter {
    text-align: center;
	margin: 10px; /* same as progress.margin*/
	margin-top: 0.8em;
    position: relative;
    top: 0;
    left: 0;
}
.counter_max, .counter_now {color: white;}
.counter_now {font-weight: bold;}
.counter_max {font-size: 0.8em; border-top: 1px solid #bbb; color: #ddd;}
.last .counter_now {text-shadow: white 0 0 7px;}

/* item directory, filename, alias */
.itemlink {
    float: right;
    z-index: 1;
    cursor: pointer;
    margin-top: 0.2em;
}

/* messages, resolution, zoom, font-size, media duration */
.status {
    font-size: 0.8em;
    text-align: left;
    color: #ddd;
}
.status * {display:none}
.status .resolution {color: #fff; font-weight: bold;}
.status .msg {color: #fd0;}
.status .error {color: #faa;}
.status .zoom:before {content: "[";}
.status .zoom:after {content: "%]";}
.status .duration:before {content: "|";}
.status .duration:after {content: "|";}
/*}}}*/

/* item list {{{*/
#itemlist {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $list_background;
    padding:10px;
    z-index: 2;
    min-height: 100%;
}
.modeItemList #itemlist.focused {display: block;}

.item {
    display: none;
    text-align: center;

    display: inline-block;
    /*float: left;*/

    vertical-align: middle;
    padding: 4px;
    padding-top: 0;
    margin-top: 2px;
    margin-left: 2px;
    cursor: pointer;
    color: black;

	min-width: 150px;
}
.item, .selection, .pagenav {
    @include rounded(8px);
}
.item:hover, .pagenav:hover {
    background-color: $widget_hover_bg;
}
.selection {
	z-index: -2;
	background-color: $widget_selected_bg;

    /* animate cursor movement */
    @include transitions("left .1s ease-in-out, top .1s ease-in-out, width .1s ease-in-out, height .1s ease-in-out");
}

.itemident {
    float: left;
    z-index: 2;

    font-size: 0.7em;
    text-align: center;
    font-weight: bold;

    margin: 0.5em;
    margin-bottom: 0em;
    padding: 0.3em;

    color: $id_fg;
    background-color: $id_bg;
    min-width: 1.2em;

    @include rounded(50px);
    @include transitions("color 2s ease-out, background-color 2s ease-out");
}

.thumbnail_width {
    margin: 0.5em;
    z-index: 2;
    text-align: left;
    word-wrap: break-word;
}
.alias,
.path,
.directory,
.extension,
.filename,
.thumbnail {
    font-family: $font_mono;
    @include transitions("color 2s ease-out, background-color 2s ease-out");
}
.alias {color: $alias_fg;}
.directory {font-size: 0.8em; color: $directory_fg;}
.filename {font-size: 0.9em; display: inline; color: $filename_fg; font-weight: bold;}
.extension {display: inline; margin-left: 0.5em; font-size: 0.7em; color: $extension_fg;}

.thumbnail {
	margin: auto;
    z-index: -1;
    color: black;
}
.thumbnail.image {}
.thumbnail.font {
    border: 1px solid black;
    color: $thumbnail_fg;
    background-color: $thumbnail_bg;
    padding: 0.5em;
}

#selected .extension, .itemlink .extension, .item:hover .extension {color: $extension_selected_fg}
#selected .directory, .itemlink .directory, .item:hover .directory {color: $directory_selected_fg}
#selected .filename, .itemlink .filename, .item:hover .filename {color: $filename_selected_fg}
#selected .alias, .itemlink .alias, .item:hover .alias {color: $alias_selected_fg}
#selected .itemident, .itemlink .itemident, .item:hover .itemident {
    color: $id_selected_fg;
    background-color: $id_selected_bg;
}
#selected .thumbnail.font, .item:hover .thumbnail.font {
	color: $thumbnail_selected_fg;
	background-color: $thumbnail_selected_bg;
}
#selected.pagenav, .pagenav:hover {
    opacity: 1;
    text-shadow: #444 0 0 7px;
}
.pagenav {
    opacity: 0.5;

    color: white;
	font-weight: bold;
    padding: 0.5em;
    margin: 1em;

    background-color: rgba(255,255,255,0.2);

    @include transitionsx("box-shadow 1.5s ease-in-out, opacity 1.5s ease-in-out");
}
.prevpage {text-align: left; padding-left: 2em;}
.nextpage {text-align: right; padding-right: 2em;}
/*}}}*/

/* help, options {{{*/
.close {
    font-family: $font_header;
    font-size: 2em;

    color: gray;

    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 14px;
}
.close:hover, .close:focus {
    color: white;
    text-shadow: #ddd 0 0 7px;
}
.help p {text-align: left;}
p {
    font-family: $font_text;
    padding-left: 4em;
    padding-right: 4em;
    font-size: 11pt;
    margin-top: 0px;
}
.emph {color: #ff6;}
.code {font-family: $font_mono;}
.help a {color: #7bf; text-decoration: none;}
.help a:hover {color: #ff0;}
.help a:visited {color: #7bf;}
.help a:visited:hover {color: #ff0;}

h1, h2, h3 {
    font-family: $font_header;
}
h1 {
	font-size: 2.5em;
    text-align: center;
}
h2 {
	font-size: 2em;
	color: #ddd;
    float: left;
    margin: 1em;
}
h3 {
	font-size: 1.5em;
	color: #bbb;
	border-bottom: 2px solid #bbb;
    margin-bottom: 0.5em;
}
.category {
    display: inline-block;
    vertical-align: top;
	text-align: left;
	padding: 1em;
}
.keyhint {text-decoration: underline;}
.key {}
.keys .desc {
    display:inline;
    font-size: 0.8em;
}
.keys .which {
	display: inline;
	display: inline-block;

	font-weight: bold;
    font-family: $font_mono;
	font-size: 0.7em;

	margin-right: 1em;
	margin-top: 0.2em;
	padding: 0 0.1em;
	width: 12ex;
	text-align: center;

	background-color: #aaa;
	color: black;
    text-shadow: white 1px 1px 2px;
	border: 2px solid gray;
	border-top: 2px solid white;
	border-left: 2px solid white;
    @include rounded(4px);
}
.keys,
.about {
    border-top: 2px dashed rgba(255,255,255,0.1);
}
.logo {float: right; margin: 1em 2em;}
.options .config {
    width: 70%;
    text-align: left;
    padding-left: 0;
    margin: 2em auto;
}
.options .config textarea {
    width: 100%;
    height: 10em;
}
.options .value {
    background-color: #444;
    color: #ddd;
    border: 1px solid black;
    @include rounded(4px);
}
.options .option.focused .value {
    background-color: #ddd;
    color: black;
}
.about .category {margin: 1em;}
.about .which {color: #ff8;}

.option {
    padding: 0 0.5em;
    margin-bottom: 4px;
    border-left: 10px solid transparent;
}
.option.focused {
    border-left: 10px solid white;
    background-color: $widget_selected_bg;
}
.value {
    border:2px solid transparent;
}
/*}}}*/

/* navigation {{{*/
.nav {
    position: fixed;
    z-index: 2;

    font-family: $font_navigation;
	font-weight: bold;
    font-size: 20pt;

    opacity: 0;
    color: white;
    text-shadow: black 0 0 0.5em;
    cursor: pointer;
	padding: 1em;

	background-color: rgba(0,0,0,0.5);
    @include box-shadow(0 0 20px rgba(0,0,0,0.5));
    @include transitions("opacity 0.3s ease-in-out");
}
.nav:hover {
	opacity: 1;
}

.modeOptions .nav, .modeHelp .nav {
    display: none;
}

#prev, #next {
	bottom: 0;
}
#next {
	right: 0;
    @include rounded(2em, top, left);
}
#prev {
	left: 0;
    @include rounded(2em, top, right);
}
#menu {display: none;}
.modeViewer #menu, .modeSlideshow #menu {display: block;}
#menu,
.nav.hide {
    top: 0;
    right: 0;
    @include rounded(2em, bottom, left);
}
.menuitem:hover {
    color: yellow;
}
#options, #help,
#list, #hidelist {
};
/* hide "next" on last item */
.last #next {display: none;}
/* hide "prev" on first item */
.item1 #prev {display: none;}
/*}}}*/

