* {margin: 0;font-family: Aller, Verdana, Arial, Helvetica; font-size: 16px; color: #ddd;}

html,body {height: 100%}

body {
    text-align: center;
    /*background-color: #222;*/
    /*www.tartanmaker.com www.stripegenerator.com http://squidfingers.com/patterns/*/
    background-image: url('bg.png'); 
    background-repeat: repeat;
}

#info {margin: 5 10; position: absolute; top: 0; left: 0; text-shadow: #000 1px 1px 1px; z-index: 1;}
#counter, #resolution {color: white; font-size: 0.7em; font-weight: bold; z-index: 1;}
#imgtitle {margin: 0 5; z-index: 1; z-index: 1;}
#loading {color: #fd0; font-size: inherit; font-weight: bold;}

a, .imgitem {color: #7bf; text-decoration: none; font-weight: bold;}
a:hover, .imgitem:hover {color: #ff0;}
a:visited {color: #7bf;}
a:visited:hover {color: #ff0;}

#canvas {position: relative;}

/* image list */
#imglist {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(0,0,0,0.7);
    padding:10px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    z-index: 1;
    overflow: hidden;
}
.imgitem {
    float: left;
    /*width: 310px;*/
    /*height: 320px;*/
    text-align: left;
    font-size: 0.7em;
    padding: 12px;
    font-weight: bold;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: center;
    text-shadow: #000 1px 1px 1px;
}
.imgitem {cursor: pointer;}
/*.imgitem:nth-child(even), #default:nth-child(even) {background: rgba(50,50,50,0.7);}*/
#selected {
    background: #d90;
    color: #fff;
}
.thumbnail {
    display: block;
    vertical-align: middle;
    margin: auto;
    margin-top: 5px;
}

