/* typekit:
 *  Museo: 579
 *  Fertigo: 586
 *  FF Dax Compact: 457
 *  FF Masala: 460
 *  Larabiefont (mono): 131
 *  Moby Monospaced: 274
 */
/*@import url('http://typekit.com/css/families/a/default/all/579.css');*/
/*@import url('http://typekit.com/css/families/a/default/all/457.css');*/
/*@import url('http://fonts.googleapis.com/css?family=Droid+Sans+Mono');*/
/* monospace */
@import url('http://fonts.googleapis.com/css?family=Inconsolata');
/* serif */
@import url('http://fonts.googleapis.com/css?family=Crimson+Text');
/* sans-serif */
@import url('http://fonts.googleapis.com/css?family=Molengo');
@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
/*font-family-457-1, font-family-457-2, Aller Display;*/
/* www.tartanmaker.com www.stripegenerator.com http://squidfingers.com/patterns/ */
/* helper functions {{{ */
body {
  margin: 0;
  background: #222222 url("bg3.png") repeat;
  font-family: "Crimson Text", Gentium, "Liberation Serif", serif;
  overflow: hidden;
  /* no scrollbars */ }

input, .tabs, .button, .close {
  outline: 0; }

a {
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit; }

.label {
  color: #ddd;
  display: inline;
  font-size: 0.8em;
  margin-right: 1em; }

.focused .label {
  color: white; }

.buttonbox {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
  background-color: rgba(160, 160, 160, 0.1); }

.button {
  cursor: pointer;
  display: inline;
  font-size: 0.8em;
  text-align: center;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #666;
  text-shadow: black 1px 1px 2px;
  border: 3px solid #333;
  border-top: 3px solid #aaa;
  border-left: 3px solid #aaa;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

.button:hover,
.button:focus {
  background-color: #888;
  text-shadow: #222 3px 3px 2px;
  border: 3px solid #aaa;
  border-top: 3px solid #333;
  border-left: 3px solid #333; }

.buttonbox .button.first {
  border-top-left-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -webkit-border-radius-topleft: 1em;
  border-bottom-left-radius: 1em;
  -moz-border-radius-bottomleft: 1em;
  -webkit-border-radius-bottomleft: 1em; }

.buttonbox .button.last {
  border-top-right-radius: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-radius-topright: 1em;
  border-bottom-right-radius: 1em;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-radius-bottomright: 1em; }

.textedit, .lineedit {
  font-family: Inconsolata, Consolas, monospace;
  font-size: 11pt; }

.lineedit {
  min-width: 6ex;
  max-width: 80ex; }

.textedit {
  display: block;
  min-width: 40ex;
  max-width: 80ex;
  min-height: 2em;
  max-height: 20em; }

.tabs:focus .tab.current {
  color: white;
  background-color: rgba(0, 100, 200, 0.6); }

.tabs .label {
  font-size: 12pt;
  color: gray; }

.tab {
  display: inline;
  padding: 0.3em;
  margin: 0.2em;
  border: 2px solid transparent;
  border-bottom: 2px solid transparent; }

.tab.current {
  color: white;
  border-bottom: 2px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 0.6em;
  -moz-border-radius-topleft: 0.6em;
  -webkit-border-radius-topleft: 0.6em;
  border-top-right-radius: 0.6em;
  -moz-border-radius-topright: 0.6em;
  -webkit-border-radius-topright: 0.6em;
  color: white; }

.widgetlist {
  margin: auto;
  padding: 1em; }

.widgetlist tr {
  text-align: left; }

.widgetlist tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1); }

.window.focused {
  display: block; }

.window {
  color: white;
  font-family: "Molengo", sans-serif;
  font-size: 14pt;
  display: none;
  z-index: 3;
  /* on top */
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  margin: 10%;
  margin-top: 2%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-align: center; }

/* title page {{{*/
#title_page {
  font-size: 48px;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  color: white; }

#title_page .date {
  font-size: 0.5em; }

#title_page .stat {
  display: inline;
  font-style: italic;
  margin: 1em;
  font-size: 0.4em; }

.stat.images_total:before {
  content: "images: "; }

.stat.fonts_total:before {
  content: "fonts: "; }

.stat.videos_total:before {
  content: "videos: "; }

.stat.html_total:before {
  content: "html: "; }

.stat.pages_total:before {
  content: "pages: "; }

.stat.items_total:before {
  content: "total: "; }

/*}}}*/
/* viewer {{{*/
/* viewer visible only in Viewer mode */
#canvas {
  display: none; }

.modeViewer #canvas, .modeSlideshow #canvas {
  display: block; }

.imageview {
  margin: auto; }

.videoview {
  margin: auto; }

.fontview, .htmlview {
  display: block;
  z-index: 1;
  margin: auto;
  width: 60%;
  height: 100%;
  color: black;
  padding: 1em;
  border-width: 0;
  background-color: white;
  overflow: hidden;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  /* default test font size*/
  font-size: 16pt; }

/*}}}*/
/* preview {{{*/
.preview {
  /* preview is hidden by default */
  opacity: 0;
  /* preview position */
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out; }

/* show preview when needed */
.modeViewer .preview.focused,
.modeSlideshow .preview.focused,
.modeViewer .preview:hover,
.modeSlideshow .preview:hover {
  opacity: 1; }

/* preview viewed area */
.preview .window {
  border: 2px dashed red;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 4px;
  padding-bottom: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); }

.preview img {
  margin: 2px;
  border: 2px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }

/*}}}*/
/* info {{{*/
#info {
  opacity: 0;
  z-index: 2;
  position: fixed;
  top: 1em;
  left: 1em;
  text-shadow: black 1px 1px 1px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding-right: 1.5em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  transition: box-shadow 1.5s ease-in-out, opacity 0.5s ease-in-out, background-color 1.5s ease-in-out;
  -webkit-transition: -webkit-box-shadow 1.5s ease-in-out, opacity 0.5s ease-in-out, background-color 1.5s ease-in-out;
  -moz-transition: -moz-box-shadow 1.5s ease-in-out, opacity 0.5s ease-in-out, background-color 1.5s ease-in-out; }

.modeViewer #info:hover, .modeSlideshow #info:hover, .modeViewer #info.focused {
  opacity: 1; }

.modeViewer #info:hover, .modeSlideshow #info:hover {
  background-color: rgba(100, 160, 200, 0.6);
  box-shadow: 0 0 20px #77bbff;
  -webkit-box-shadow: 0 0 20px #77bbff;
  -moz-box-shadow: 0 0 20px #77bbff;
  -o-box-shadow: 0 0 20px #77bbff; }

/* progress circle */
.progress {
  float: left;
  margin: 10px; }

/* current item and number of items */
.counter {
  text-align: center;
  margin: 10px;
  /* same as progress.margin*/
  margin-top: 0.8em;
  position: relative;
  top: 0;
  left: 0; }

.counter_max, .counter_now {
  color: white; }

.counter_now {
  font-weight: bold; }

.counter_max {
  font-size: 0.8em;
  border-top: 1px solid #bbb;
  color: #ddd; }

.last .counter_now {
  text-shadow: white 0 0 7px; }

/* item directory, filename, alias */
.itemlink {
  float: right;
  z-index: 1;
  cursor: pointer;
  margin-top: 0.2em; }

/* messages, resolution, zoom, font-size, media duration */
.status {
  font-size: 0.8em;
  text-align: left;
  color: #ddd; }

.status * {
  display: none; }

.status .resolution {
  color: #fff;
  font-weight: bold; }

.status .msg {
  color: #fd0; }

.status .error {
  color: #faa; }

.status .zoom:before {
  content: "["; }

.status .zoom:after {
  content: "%]"; }

.status .duration:before {
  content: "|"; }

.status .duration:after {
  content: "|"; }

/*}}}*/
/* item list {{{*/
#itemlist {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #222222 url("bg2.png");
  padding: 10px;
  z-index: 2;
  min-height: 100%; }

.modeItemList #itemlist.focused {
  display: block; }

.item {
  display: none;
  text-align: center;
  display: inline-block;
  /*float: left;*/
  vertical-align: middle;
  padding: 4px;
  padding-top: 0;
  margin-top: 2px;
  margin-left: 2px;
  cursor: pointer;
  color: black;
  min-width: 150px; }

.item, .selection, .pagenav {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

.item:hover, .pagenav:hover {
  background-color: rgba(100, 160, 200, 0.6); }

.selection {
  z-index: -2;
  background-color: rgba(0, 100, 200, 0.6);
  /* animate cursor movement */
  transition: left .1s ease-in-out, top .1s ease-in-out, width .1s ease-in-out, height .1s ease-in-out;
  -webkit-transition: left .1s ease-in-out, top .1s ease-in-out, width .1s ease-in-out, height .1s ease-in-out;
  -moz-transition: left .1s ease-in-out, top .1s ease-in-out, width .1s ease-in-out, height .1s ease-in-out; }

.itemident {
  float: left;
  z-index: 2;
  font-size: 0.7em;
  text-align: center;
  font-weight: bold;
  margin: 0.5em;
  margin-bottom: 0em;
  padding: 0.3em;
  color: black;
  background-color: gray;
  min-width: 1.2em;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  transition: color 2s ease-out, background-color 2s ease-out;
  -webkit-transition: color 2s ease-out, background-color 2s ease-out;
  -moz-transition: color 2s ease-out, background-color 2s ease-out; }

.thumbnail_width {
  margin: 0.5em;
  z-index: 2;
  text-align: left;
  word-wrap: break-word; }

.alias,
.path,
.directory,
.extension,
.filename,
.thumbnail {
  font-family: Inconsolata, Consolas, monospace;
  transition: color 2s ease-out, background-color 2s ease-out;
  -webkit-transition: color 2s ease-out, background-color 2s ease-out;
  -moz-transition: color 2s ease-out, background-color 2s ease-out; }

.alias {
  color: #bfbfbf; }

.directory {
  font-size: 0.8em;
  color: #bfbfbf; }

.filename {
  font-size: 0.9em;
  display: inline;
  color: #bfbfbf;
  font-weight: bold; }

.extension {
  display: inline;
  margin-left: 0.5em;
  font-size: 0.7em;
  color: #bfa500; }

.thumbnail {
  margin: auto;
  z-index: -1;
  color: black; }

.thumbnail.font {
  border: 1px solid black;
  color: black;
  background-color: #bfbfbf;
  padding: 0.5em; }

#selected .extension, .itemlink .extension, .item:hover .extension {
  color: #ffdd00; }

#selected .directory, .itemlink .directory, .item:hover .directory {
  color: #e5e5ff; }

#selected .filename, .itemlink .filename, .item:hover .filename {
  color: white; }

#selected .alias, .itemlink .alias, .item:hover .alias {
  color: white; }

#selected .itemident, .itemlink .itemident, .item:hover .itemident {
  color: black;
  background-color: white; }

#selected .thumbnail.font, .item:hover .thumbnail.font {
  color: black;
  background-color: white; }

#selected.pagenav, .pagenav:hover {
  opacity: 1;
  text-shadow: #444 0 0 7px; }

.pagenav {
  opacity: 0.5;
  color: white;
  font-weight: bold;
  padding: 0.5em;
  margin: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  transition: box-shadow 1.5s ease-in-out, opacity 1.5s ease-in-out;
  -webkit-transition: -webkit-box-shadow 1.5s ease-in-out, opacity 1.5s ease-in-out;
  -moz-transition: -moz-box-shadow 1.5s ease-in-out, opacity 1.5s ease-in-out; }

.prevpage {
  text-align: left;
  padding-left: 2em; }

.nextpage {
  text-align: right;
  padding-right: 2em; }

/*}}}*/
/* help, options {{{*/
.close {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2em;
  color: gray;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 14px; }

.close:hover, .close:focus {
  color: white;
  text-shadow: #ddd 0 0 7px; }

.help p {
  text-align: left; }

p {
  font-family: serif;
  padding-left: 4em;
  padding-right: 4em;
  font-size: 11pt;
  margin-top: 0px; }

.emph {
  color: #ff6; }

.code {
  font-family: Inconsolata, Consolas, monospace; }

.help a {
  color: #7bf;
  text-decoration: none; }

.help a:hover {
  color: #ff0; }

.help a:visited {
  color: #7bf; }

.help a:visited:hover {
  color: #ff0; }

h1, h2, h3 {
  font-family: "Yanone Kaffeesatz", sans-serif; }

h1 {
  font-size: 2.5em;
  text-align: center; }

h2 {
  font-size: 2em;
  color: #ddd;
  float: left;
  margin: 1em; }

h3 {
  font-size: 1.5em;
  color: #bbb;
  border-bottom: 2px solid #bbb;
  margin-bottom: 0.5em; }

.category {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 1em; }

.keyhint {
  text-decoration: underline; }

.keys .desc {
  display: inline;
  font-size: 0.8em; }

.keys .which {
  display: inline;
  display: inline-block;
  font-weight: bold;
  font-family: Inconsolata, Consolas, monospace;
  font-size: 0.7em;
  margin-right: 1em;
  margin-top: 0.2em;
  padding: 0 0.1em;
  width: 12ex;
  text-align: center;
  background-color: #aaa;
  color: black;
  text-shadow: white 1px 1px 2px;
  border: 2px solid gray;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

.keys,
.about {
  border-top: 2px dashed rgba(255, 255, 255, 0.1); }

.logo {
  float: right;
  margin: 1em 2em; }

.options .config {
  width: 70%;
  text-align: left;
  padding-left: 0;
  margin: 2em auto; }

.options .config textarea {
  width: 100%;
  height: 10em; }

.options .value {
  background-color: #444;
  color: #ddd;
  border: 1px solid black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

.options .option.focused .value {
  background-color: #ddd;
  color: black; }

.about .category {
  margin: 1em; }

.about .which {
  color: #ff8; }

.option {
  padding: 0 0.5em;
  margin-bottom: 4px;
  border-left: 10px solid transparent; }

.option.focused {
  border-left: 10px solid white;
  background-color: rgba(0, 100, 200, 0.6); }

.value {
  border: 2px solid transparent; }

/*}}}*/
/* navigation {{{*/
.nav {
  position: fixed;
  z-index: 2;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  opacity: 0;
  color: white;
  text-shadow: black 0 0 0.5em;
  cursor: pointer;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out; }

.nav:hover {
  opacity: 1; }

.modeOptions .nav, .modeHelp .nav {
  display: none; }

#prev, #next {
  bottom: 0; }

#next {
  right: 0;
  border-top-left-radius: 2em;
  -moz-border-radius-topleft: 2em;
  -webkit-border-radius-topleft: 2em; }

#prev {
  left: 0;
  border-top-right-radius: 2em;
  -moz-border-radius-topright: 2em;
  -webkit-border-radius-topright: 2em; }

#menu {
  display: none; }

.modeViewer #menu, .modeSlideshow #menu {
  display: block; }

#menu,
.nav.hide {
  top: 0;
  right: 0;
  border-bottom-left-radius: 2em;
  -moz-border-radius-bottomleft: 2em;
  -webkit-border-radius-bottomleft: 2em; }

.menuitem:hover {
  color: yellow; }

/* hide "next" on last item */
.last #next {
  display: none; }

/* hide "prev" on first item */
.item1 #prev {
  display: none; }

/*}}}*/
