#info {
    opacity: 0;
    z-index: 2;

    margin: 0.5em 0.5em;
    position: absolute;
    top: 0px;
    left: 0px;

    text-shadow: black 1px 1px 1px;

    background-color: rgba(0,0,0,0.4);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border: 2px solid rgba(0,0,0,0.5);
    padding: 6px;
    padding-right: 1.5em;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
}
.modeViewer #info:hover, .modeViewer #info.focused {
    opacity: 1;
}

/* current item and number of items */
#counter {
	margin: 6px; /* same value as info.padding */
    font-weight: bold;
	margin-top: 0.5em;
}
#counter #max, #counter #now {color: white; font-size: 0.8em;}
#counter #max {font-size: 0.6em; border-top: 1px solid #bbb; color: #ddd;}
.last #counter #now {color: #db8}

/* item directory, filename, alias */
#itemtitle {z-index: 1; float: left; text-align: left;}
#itemtitle .path,
#itemtitle .filename {color: inherit;}
#itemtitle .directory,
#itemtitle .filename {font-family: monospace;}
#itemtitle .alias {font-size: 0.8em; color: #fd0; margin-bottom: 0.3em;}
#itemtitle .directory {font-size: 0.7em; color: #7da;}
#itemtitle .filename {font-weight: bold; font-size: 0.8em;}

/* resolution and zoom or font-size */
#resolution {
    display: block;
    font-size: 0.7em;
    text-align: left;
    margin-left: 2ex;
}
#resolution.loading {color: #fd0;}
#resolution.error   {color: #faa;}

/* progress circle */
#progress {float: left; margin-right: 0.5em;}

