@import url('style-list-simple.css');
/*@import url('style-list-simpler.css');*/
/*@import url('style-list-print.css');*/
/*@import url('style-list-gray.css');*/
/*@import url('style-list-zoom.css');*/

* {margin: 0;font-family: Aller, Verdana, Arial, Helvetica; font-size: 16px; color: #ddd;}

html,body {height: 100%;}

body {
    text-align: center;
    /*background-color: #222;*/
    /*www.tartanmaker.com www.stripegenerator.com http://squidfingers.com/patterns/*/
    background-image: url('bg3.png');
    background-repeat: repeat;
}

a {color: #7bf; text-decoration: none; font-weight: bold;}
a:hover {color: #ff0;}
a:visited {color: #7bf;}
a:visited:hover {color: #ff0;}

#canvas {position: relative;}
.imageview {}
.fontview {
    font-size: 24px;
    width: 80%;
    margin: auto;
}

/* status */
#info {
    margin: 10px 15px;
    position: absolute;
    text-shadow: #000 1px 1px 1px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
}
#info:hover, #info.focused {
    opacity: 1;
}
#counter, #resolution {color: white; font-size: 0.7em; font-weight: bold; z-index: 1;}
#counter.last {color: #ff0;}
#itemtitle {z-index: 1; float: left;}
#resolution {font-size: 0.7em; font-weight: bold; display: block; text-align: left;}
#resolution.loading {color: #fd0;}
#resolution.error   {color: #faa;}
#progress {float: left; margin-right: 10px;}

