#info {
    opacity: 0;
    z-index: 2;

    margin: 0.5em 0.5em;
    position: absolute;
    top: 0px;
    left: 0px;

    text-shadow: black 1px 1px 1px;

    background-color: rgba(0,0,0,0.4);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border: 2px solid rgba(0,0,0,0.5);
    padding-right: 1.5em;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
}
.modeViewer #info:hover, .modeViewer #info.focused {
    opacity: 1;
}
#info:hover {
    background-color: black;
    -webkit-box-shadow: 0px 0px 10px #7bf;
    -moz-box-shadow: 0px 0px 10px #7bf;
}

/* current item and number of items */
.counter {
    text-align: center;
	margin: 10px; /* same as progress.margin*/
    font-weight: bold;
	margin-top: 0.8em;
    position: relative;
    top:0;
    left:0;
}
.countermax, .counternow {color: white; font-size: 0.8em;}
.countermax {font-size: 0.6em; border-top: 1px solid #bbb; color: #ddd;}
.last .counternow {color: #db8}

/* item directory, filename, alias */
.itemlink {text-decoration: none; z-index: 1; float: left; text-align: left;}
.itemlink .directory,
.itemlink .extension,
.itemlink .filename {font-family: monospace;}
.itemlink .alias {font-size: 0.8em; color: #fd0;}
.itemlink .filename { color: #9de;}
.itemlink .extension {color: #8fb;}
.itemlink .directory {color: #ccc; font-size: 0.7em;}
.itemlink .extension {
    display: inline;
    font-size: 0.7em;
    margin-left: 0.5em;
}
.itemlink .filename {display: inline; font-weight: bold; font-size: 0.8em;}

/* resolution and zoom or font-size */
.status * {
    font-size: 0.65em;
    text-align: left;
}
.status .loading {color: #fd0;}
.status .error   {color: #faa;}
.status .zoom:before {content: "[";}
.status .zoom:after {content: "%]";}
.status .duration:before {content: "|";}
.status .duration:after {content: "|";}

/* progress circle */
.progress {float: left; margin: 10px;}

