/* typekit:
 *  Museo: 579
 *  Fertigo: 586
 *  FF Dax Compact: 457
 *  FF Masala: 460
 */
/*@import url('http://typekit.com/css/a/default/all/579.css');*/
/*@import url('http://typekit.com/css/a/default/all/457.css');*/

body {
    margin: 0px;
    /*background-color: #222;*/
    /*www.tartanmaker.com www.stripegenerator.com http://squidfingers.com/patterns/*/
    background-image: url('bg3.png');
    background-repeat: repeat;
    font-family: sans-serif;
}

a {font-weight: inherit; color: inherit; font-size: inherit; font-family: inherit;}

/* viewer */

/* viewer visible only in Viewer mode */
#canvas {display: none;}
.modeViewer #canvas {display: block;}

.imageview {margin: auto;}
.videoview {margin: auto;}
.fontview { 
    display: block;
    z-index: 1; /* always focusable */
    margin: auto;

    width: 60%;
    height: 100%;

    color: black;
    padding: 1em;
    border-width: 0px;
    background-color: white;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
    overflow: hidden;

    /* default preview size*/
    font-size: 16pt;
}

/* preview */
.preview {
    opacity: 0;

    position: fixed;
    bottom: 20px;
    right: 20px;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
}

.preview .window {
    border: 2px dashed #08f;
    margin: -2px;
    background-color: rgba(0,0,255,0.1);
}

.preview img {
    max-width: 200px;
    border: 2px solid black;
}

.preview:hover, .preview.focused {
    opacity: 1;
}

