.navigation {
    position: fixed;
    z-index: 1;
}
#next, #prev, #list {
    opacity: 0;
    display: block;
    color: white;
    /*font-family: font-family-457-1, font-family-457-2, Aller Display;*/
    font-family: sans-serif;
	font-weight: bold;
    font-size: 20pt;
    text-shadow: black 0px 0px 0.5em;
    cursor: pointer;
    padding: 0.5em;
    position: fixed;

	background: rgba(0,0,0,0.5);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 3px solid black;

    -webkit-transition: opacity 0.3s ease-in-out;
}
#prev {bottom: 0px; left: 0px;}
#next {bottom: 0px; right: 0px;}
#list {top: 0px; right: 0px;}
#prev:hover, #prev.focused,
#next:hover, #next.focused,
#list:hover, #list.focused {
    opacity: 1;
}

